$red : red;
$white:white;
$seperator:#ececec;
$kilosgrey:#686868;
$disable-color: #d3d3d394;
$disable-bg-color:rgb(151, 151, 151);
$border-radius:10px;
$font400: 400;
$font500: 500;
$font700: 700;
$font900: 900;
$szfont10:10px;
$szfont15:15px;
$szfont17:17px;
$szfont20:20px;
$zoom-hover:1.4;
$pd10:10px;