@import './_variables.scss';

span.avalableMessage {
    font-weight: $font900;
    filter: none;
    font-size: $szfont10;
    border: 1px solid red;
    color: red;
    padding: 4px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-right: $pd10;
    vertical-align: middle;
}


body {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    // background-image: url('../images/bg.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: auto;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.header,
.footer {
    background-color: #ffffff;

    .logo,
    .text1,
    .text2 {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    align-content: space-around;
    margin-top: 50px;
}

.header {
    margin-top: 1%;

    .titlemain {
        font-size: $szfont20;
        font-weight: $font700;
        font-family: 'Urbanist';
        background-color: black;
        color: white;
        position: fixed;
        top: 0px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        z-index: 7;
    }
}

.footer {
    margin-bottom: 70px;
}

.nonos {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    border-radius: $border-radius*2;

    .widget-container {
        border-top: 1px solid $disable-bg-color;
        width: 100%;
        height: max-content;
        background-color: $white;
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 1%;

        &.disable {
            background-color: $disable-color;
            // border-radius: $border-radius;
        }


        .widget-body-parent {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin: 5%;

            .disable & {
                filter: grayscale(1);
            }

            .widget-body-text {
                font-family: 'Urbanist', sans-serif;
                font-size: $szfont15;
                letter-spacing: 1px;
                margin-top: 10px;
                line-height: 25px;
                border-top: 1px solid $seperator ;
                padding-top: $szfont10 ;
                font-weight: 200;

                .disable & {
                    filter: grayscale(1);
                }
            }
        }

        .body-container {
            display: flex;
            width: 100%;

            .disable & {
                filter: grayscale(1);
            }
        }

        .preview-img {
            height: 100%;
            width: 20%;
            object-fit: contain;
            cursor: pointer;
            pointer-events: auto;
            transition: 0.3s;
            opacity: 0.8;
            z-index: 5;

            @media only screen and (min-width: 640px) {
                &:hover {
                    cursor: pointer;
                    pointer-events: auto;
                    opacity: 1;
                    scale: $zoom-hover;
                }
            }



            &.disable {
                filter: grayscale(1);
            }
        }

        .widget-header {
            text-transform: capitalize;
            font-size: $szfont20;
            font-weight: $font400;
            font-family: 'Urbanist', sans-serif;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            align-content: center;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1%;
            letter-spacing: 0px;

            .disable & {
                filter: grayscale(1);

            }

            .price-list {
                font-weight: $font500;

                .kilos {
                    font-size: $szfont15;
                    color: $kilosgrey;
                    font-weight: $font500 /2.5;
                }
            }
        }

        .widget-body {
            width: 100%;

            .disable & {
                filter: grayscale(1);
            }
        }

    }
}

.logo {

    cursor: pointer;
    pointer-events: auto;

    &:hover {
        cursor: pointer;
        pointer-events: auto;
    }
}

.disable {

    &.widget-body-tetxt {
        text-decoration: line-through;
    }

    &.spantitle {
        text-decoration: line-through;
    }

    & .price-list {
        text-decoration: line-through !important;
    }

    & .widget-body-parent {
        color: $disable-bg-color
    }

    @media only screen and (min-width: 640px) {
        &:hover {
            scale: $zoom-hover/$zoom-hover !important;
        }
    }

}

.title {
    display: flex;
    flex-direction: column;

}

.title .disable:nth-child(1) {
    order: 2;
}

.title .disable:nth-child(2) {
    order: 3;
}

.text2 {
    font-size: 20px;
}

.contanct-us {
    pointer-events: all;
    cursor: pointer;
    text-align: center;
}

.contanct-us-parent {
    text-align: center;
}

.variety {
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;
}

.spantitle {
    line-height: 28px;
}

.footeraki {
    width: 100%;
    position: absolute;
    display: contents;
}

.taxes {
    margin: 5px;
    font-size: 20px;
    position: relative;
    font-weight: 700;
    margin-bottom: 15px;
}


@media only screen and (max-width: 600px) {

    .nonos {
        .widget-container {
            .widget-body-parent {
                .title {
                    font-size: $szfont17;
                    display: flex;
                    flex-direction: column;

                    .avalableMessage {
                        font-size: $szfont10;
                    }
                }

                .price-list {
                    font-size: $szfont17;
                }

                .widget-body-text {
                    margin-top: 8px !important;
                    font-size: $szfont15 - 2;

                    @media only screen and (max-width: 400px) {
                        letter-spacing: normal;
                        font-size: $szfont15 - 3;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .widget-container {
        height: 200px !important;
    }
}