/* line 8, style.scss */
span.avalableMessage {
  font-weight: 900 !important;
  filter: none !important; }

/* line 16, style.scss */
.disable.spantitle {
  text-decoration: line-through; }
/* line 20, style.scss */
.disable .price-list {
  text-decoration: line-through !important; }
/* line 24, style.scss */
.disable .widget-body-parent {
  color: grey; }
/* line 28, style.scss */
.disable:hover {
  scale: 1 !important; }

/* line 35, style.scss */
body {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding: 0;
  margin: 0; }

/* line 54, style.scss */
.header,
.footer {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  align-content: space-around;
  margin-top: 50px;
  margin-bottom: 1%; }
  /* line 58, style.scss */
  .header .logo,
  .header .text1,
  .header .text2,
  .footer .logo,
  .footer .text1,
  .footer .text2 {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }

/* line 86, style.scss */
.header {
  margin-top: 1%; }
  /* line 89, style.scss */
  .header .titlemain {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Urbanist';
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 2; }

/* line 109, style.scss */
.nonos {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  max-width: 650px;
  margin: auto;
  border-radius: 20px; }
  /* line 124, style.scss */
  .nonos .widget-container {
    border-top: 1px solid #dfdfdf;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1%; }
    /* line 139, style.scss */
    .nonos .widget-container.disable {
      filter: grayscale(1);
      background-color: #d3d3d394;
      border-radius: 10px; }
    /* line 147, style.scss */
    .nonos .widget-container .widget-body-parent {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin: 5%; }
      /* line 157, style.scss */
      .disable .nonos .widget-container .widget-body-parent {
        filter: grayscale(1); }
      /* line 161, style.scss */
      .nonos .widget-container .widget-body-parent .widget-body-tetxt {
        font-family: 'Urbanist', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 3%;
        line-height: 1.4; }
        /* line 168, style.scss */
        .disable .nonos .widget-container .widget-body-parent .widget-body-tetxt {
          filter: grayscale(1); }
    /* line 174, style.scss */
    .nonos .widget-container .body-container {
      display: flex;
      width: 100%; }
      /* line 178, style.scss */
      .disable .nonos .widget-container .body-container {
        filter: grayscale(1); }
    /* line 183, style.scss */
    .nonos .widget-container .preview-img {
      height: 100%;
      width: 20%;
      object-fit: contain;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8; }
      /* line 191, style.scss */
      .nonos .widget-container .preview-img:hover {
        opacity: 1;
        scale: 1.5; }
      /* line 197, style.scss */
      .disable .nonos .widget-container .preview-img {
        filter: grayscale(1); }
    /* line 206, style.scss */
    .nonos .widget-container .widget-header {
      text-transform: capitalize;
      font-size: 21px;
      font-weight: 400;
      font-family: 'Urbanist', sans-serif;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      align-content: center;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 4%;
      letter-spacing: 0px; }
      /* line 221, style.scss */
      .disable .nonos .widget-container .widget-header {
        filter: grayscale(1); }
      /* line 226, style.scss */
      .nonos .widget-container .widget-header .price-list {
        font-weight: 500; }
    /* line 231, style.scss */
    .nonos .widget-container .widget-body {
      width: 100%; }
      /* line 234, style.scss */
      .disable .nonos .widget-container .widget-body {
        filter: grayscale(1); }

/*# sourceMappingURL=style.css.map */
