/* line 6, style.scss */
span.avalableMessage {
  font-weight: 900;
  filter: none;
  font-size: 20px; }

/* line 14, style.scss */
body {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding: 0;
  margin: 0; }

/* line 33, style.scss */
.header,
.footer {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  align-content: space-around;
  margin-top: 50px; }
  /* line 37, style.scss */
  .header .logo,
  .header .text1,
  .header .text2,
  .footer .logo,
  .footer .text1,
  .footer .text2 {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }

/* line 64, style.scss */
.header {
  margin-top: 1%; }
  /* line 67, style.scss */
  .header .titlemain {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Urbanist';
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 7; }

/* line 87, style.scss */
.nonos {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  max-width: 650px;
  margin: auto;
  border-radius: 20px; }
  /* line 101, style.scss */
  .nonos .widget-container {
    border-top: 1px solid #979797;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1%; }
    /* line 116, style.scss */
    .nonos .widget-container.disable {
      filter: grayscale(1);
      background-color: #d3d3d394;
      border-radius: 10px; }
    /* line 124, style.scss */
    .nonos .widget-container .widget-body-parent {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin: 5%; }
      /* line 134, style.scss */
      .disable .nonos .widget-container .widget-body-parent {
        filter: grayscale(1); }
      /* line 138, style.scss */
      .nonos .widget-container .widget-body-parent .widget-body-text {
        font-family: 'Urbanist', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 21px;
        line-height: 25px;
        border-top: 1px solid #ececec;
        padding-top: 10px; }
        /* line 149, style.scss */
        .disable .nonos .widget-container .widget-body-parent .widget-body-text {
          filter: grayscale(1); }
    /* line 155, style.scss */
    .nonos .widget-container .body-container {
      display: flex;
      width: 100%; }
      /* line 159, style.scss */
      .disable .nonos .widget-container .body-container {
        filter: grayscale(1); }
    /* line 164, style.scss */
    .nonos .widget-container .preview-img {
      height: 100%;
      width: 20%;
      object-fit: contain;
      cursor: pointer;
      pointer-events: auto;
      transition: 0.3s;
      opacity: 0.8;
      z-index: 5; }
      @media only screen and (min-width: 640px) {
        /* line 175, style.scss */
        .nonos .widget-container .preview-img:hover {
          cursor: pointer;
          pointer-events: auto;
          opacity: 1;
          scale: 1.4; } }
      /* line 183, style.scss */
      .disable .nonos .widget-container .preview-img {
        filter: grayscale(1); }
    /* line 192, style.scss */
    .nonos .widget-container .widget-header {
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 400;
      font-family: 'Urbanist', sans-serif;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      align-content: center;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 4%;
      letter-spacing: 0px; }
      /* line 207, style.scss */
      .disable .nonos .widget-container .widget-header {
        filter: grayscale(1); }
      /* line 212, style.scss */
      .nonos .widget-container .widget-header .price-list {
        font-weight: 500; }
        /* line 215, style.scss */
        .nonos .widget-container .widget-header .price-list .kilos {
          font-size: 15px;
          color: #686868; }
    /* line 222, style.scss */
    .nonos .widget-container .widget-body {
      width: 100%; }
      /* line 225, style.scss */
      .disable .nonos .widget-container .widget-body {
        filter: grayscale(1); }

/* line 233, style.scss */
.logo {
  cursor: pointer;
  pointer-events: auto; }
  /* line 234, style.scss */
  .logo:hover {
    cursor: pointer;
    pointer-events: auto; }

/* line 248, style.scss */
.disable.widget-body-tetxt {
  text-decoration: line-through; }
/* line 253, style.scss */
.disable.spantitle {
  text-decoration: line-through; }
/* line 257, style.scss */
.disable .price-list {
  text-decoration: line-through !important; }
/* line 261, style.scss */
.disable .widget-body-parent {
  color: #979797; }
@media only screen and (min-width: 640px) {
  /* line 266, style.scss */
  .disable:hover {
    scale: 1 !important; } }

@media only screen and (max-width: 600px) {
  /* line 281, style.scss */
  .nonos .widget-container .widget-body-parent .title {
    font-size: 17px;
    display: flex;
    flex-direction: column; }
    /* line 286, style.scss */
    .nonos .widget-container .widget-body-parent .title .avalableMessage {
      font-size: 10px; }
  /* line 291, style.scss */
  .nonos .widget-container .widget-body-parent .price-list {
    font-size: 17px; }
  /* line 295, style.scss */
  .nonos .widget-container .widget-body-parent .widget-body-text {
    margin-top: 8px !important;
    font-size: 14px; } }
@media only screen and (max-width: 380px) {
  /* line 305, style.scss */
  .widget-container {
    height: 200px !important; } }

/*# sourceMappingURL=style.css.map */
